[Unit]
Description=minidlna-mp34 server
After=network.target

[Service]
Type=simple
User=minidlna
Group=minidlna
Environment=QT_QPA_PLATFORM=offscreen
ExecStart=/usr/local/bin/minidlna-mp34 -S -f /usr/local/etc/minidlna-mp34.conf -P /run/minidlna/minidlna-mp34.pid

[Install]
WantedBy=multi-user.target
